<ion-header [translucent]="true" class="main-header">
  <ion-toolbar>
    <ion-title>
      <img src="assets/logo.png" alt="Logo" class="logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="condensed-header">
    <ion-toolbar>
      <ion-title size="large">
        <img src="assets/logo.png" alt="Logo" class="logo">
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment (ionChange)="segmentChanged($event)" color="primary" class="custom-segment">
    <ion-segment-button value="voleibol">
      <ion-label>Voleybol</ion-label>
    </ion-segment-button>
    <ion-segment-button value="basquetbol">
      <ion-label>Basquetbol</ion-label>
    </ion-segment-button>
    <ion-segment-button value="futbol">
      <ion-label>Futbol</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-content>
    <ion-card *ngFor="let torneo of torneos" (click)="verPartidos(torneo.id)" class="custom-card">
      <ion-card-header>
        <ion-card-title>{{ torneo.Torneo }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Deporte:</ion-label>
          <ion-text>{{ torneo.Deporte }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Inicio:</ion-label>
          <ion-text>{{ torneo.Inicio }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Estatus:</ion-label>
          <ion-text>{{ torneo.estatus }}</ion-text>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>