<ion-content [fullscreen]="true">
  <ion-segment (ionChange)="segmentChanged($event)" color="primary" class="custom-segment">
    <ion-segment-button value="voleibol">
      <ion-label>Voleybol</ion-label>
    </ion-segment-button>
    <ion-segment-button value="basquetbol">
      <ion-label>Basquetbol</ion-label>
    </ion-segment-button>
    <ion-segment-button value="futbol">
      <ion-label>Futbol</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card *ngFor="let torneo of torneos" (click)="verPartidos(torneo.id)" class="custom-card">
    <ion-card-header>
      <ion-card-title>{{ torneo.Torneo }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
            <!-- Mostrar imagen según el deporte -->
            <ion-img *ngIf="torneo.Deporte === 'voleibol'" src="assets/voleibol.jpg" class="deporte-image"></ion-img>
            <ion-img *ngIf="torneo.Deporte === 'basquetbol'" src="assets/baloncesto.jpg" class="deporte-image"></ion-img>
            <ion-img *ngIf="torneo.Deporte === 'futbol'" src="assets/futbol.jpg" class="deporte-image"></ion-img>
      <ion-item>
        <ion-label>Deporte:</ion-label>
        <ion-text>{{ torneo.Deporte }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Inicio:</ion-label>
        <ion-text>{{ torneo.Inicio }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Estatus:</ion-label>
        <ion-text>{{ torneo.estatus }}</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
