ion-header {
  ion-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

  .back-button {
    --background: #fff; /* Establece el color de fondo del botón */
    --color: #fff; /* Establece el color del texto del botón */
    --border-radius: 5px; /* Establece el radio de borde del botón */
    --padding: 10px 20px; /* Establece el relleno del botón */
    --font-size: 16px; /* Establece el tamaño de fuente del botón */
    --transition: background-color 0.3s, transform 0.3s; /* Establece la transición */
  
    background-color: var(--background); /* Aplica el color de fondo */
    color: var(--color); /* Aplica el color del texto */
    border: none; /* Quita el borde */
    border-radius: var(--border-radius); /* Aplica el radio de borde */
    padding: var(--padding); /* Aplica el relleno */
    cursor: pointer;
    font-size: var(--font-size); /* Aplica el tamaño de fuente */
    transition: var(--transition); /* Aplica la transición */
  
    &:hover {
      background-color: var(--background); /* Cambia el color de fondo en hover */
      transform: translateY(-2px);
    }
  }

  ion-title {
    display: flex;
    align-items: center;

    img {
      height: 40px;
      margin-left: 10px; // Espacio entre el texto del título y la imagen
    }
  }
}

.width-image {
  width: 100%; /* Ocupa todo el ancho del contenedor padre */
  height: auto; /* Mantiene la proporción de la imagen */
  display: block; /* Para centrar la imagen */
  margin: auto; /* Para centrar la imagen */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
  transition: transform 0.3s; /* Transición para el hover */

  &:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el cursor */
  }
}

ion-card {
  margin: 20px; /* Espacio alrededor de cada card */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  transition: transform 0.3s, box-shadow 0.3s; /* Transiciones */

  &:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el cursor */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
  }

  ion-card-header {
    text-align: center;
    background-color: #f8f9fa; /* Fondo claro para el header */
    padding: 10px 0;
    border-radius: 0 0 10px 10px; /* Bordes redondeados en la parte inferior */
  }

  ion-card-title {
    font-size: 1.2em;
    color: #333; /* Color del texto */
  }
}