.width-image {
    width: 100%; /* Ocupa todo el ancho del contenedor padre */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Para centrar la imagen */
    margin: auto; /* Para centrar la imagen */
}