<ion-content [fullscreen]="true">
  <ion-button (click)="goBack()" class="back-button" shape="round" fill="clear">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>

  <ion-card (click)="irRegistrarTeam()">
    <img src="assets/voleibol.jpg" class="width-image"/>
    <ion-card-header>
      <ion-card-title>¡El torneo de Voleibol está por comenzar!</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img src="assets/baloncesto.jpg" class="width-image"/>
    <ion-card-header>
      <ion-card-title>¡Entérate de los próximos partidos que se disputarán!</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img src="assets/futbol.jpg" class="width-image"/>
    <ion-card-header>
      <ion-card-title>¡TC perdió contra Ingeniería de Software en Semifinales!</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>