<ion-header [translucent]="true" class="main-header">
  <ion-toolbar>
    <ion-title>
      <img src="assets/logo.png" alt="Logo" class="logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="condensed-header">
    <ion-toolbar>
      <ion-title size="large">
        <img src="assets/logo.png" alt="Logo" class="logo">
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment color="primary" class="custom-segment" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="1">
      <ion-label>Voleybol</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>Basquetbol</ion-label>
    </ion-segment-button>
    <ion-segment-button value="3">
      <ion-label>Futbol</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-content>
    <ion-card *ngFor="let partido of partidos" (click)="verPartidos(partido)" class="custom-card">
      <ion-card-header>
        <ion-card-title>{{ partido.Partido }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Equipo 1:</ion-label>
          <ion-text>{{ partido.Equipo1 }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Equipo 2:</ion-label>
          <ion-text>{{ partido.Equipo2 }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Fecha:</ion-label>
          <ion-text>{{ partido.Fecha }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Estatus:</ion-label>
          <ion-text>{{ partido.estatus }}</ion-text>
        </ion-item>
        <ion-item *ngIf="showTorneo">
          <ion-label>Torneo:</ion-label>
          <ion-text>{{ partido.Torneo }}</ion-text>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>