<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <img src="assets/logo.png" alt="Logo" style="height: 40px;">
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div style="height: 20px;"></div>
  <div style="text-align: center; font-size: 40px; font-weight: bold;">PROXXYS Vs X</div>
  <!-- Resultado grande -->
  <div style="text-align: center; font-size: 30px; font-weight: bold;">Resultado</div>
  <div style="text-align: center; font-size: 40px; font-weight: bold; color:orange">21 - 10</div>
  <ion-footer class="ion-no-border">
    <ion-toolbar class="ion-text-center">
      <ion-button (click)="goBack()" class="back-button" shape="round" color="warning" >
        <span style="color: white;">Volver</span>
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>