<div>
  <h1 class="main-title">Registro de equipo</h1>
</div>

<!-- <form (ngSubmit)="onSubmit()">
  <div>
    <label for="teamName">Nombre del equipo:</label>
    <input type="text" id="teamName" name="teamName" [(ngModel)]="teamName" required>
  </div>
  <div>
    <label for="teamCaptain">Capitán del equipo:</label>
    <input type="text" id="teamCaptain" name="teamCaptain" [(ngModel)]="teamCaptain" required>
    <label for="teamCaptain">Matricula:</label>
    <input type="text" id="teamCaptain" name="teamCaptain" [(ngModel)]="teamCaptain" required>
  </div>
  <div>
    <h1 class="main-title">Minimo 5 jugadores y maximo 10</h1>
  </div>
  <div>
    <label for="teamParticipante">Nombre participante:</label>
    <input type="text" id="teamParticipante" name="teamParticipante" [(ngModel)]="teamParticipante" required>
    <label for="teamParticipante">Matricula:</label>
    <input type="text" id="teamParticipante" name="teamParticipante" [(ngModel)]="teamParticipante" required>
  </div>
  <div>
    <label for="teamParticipante">Nombre participante:</label>
    <input type="text" id="teamParticipante" name="teamParticipante" [(ngModel)]="teamParticipante" required>
    <label for="teamParticipante">Matricula:</label>
    <input type="text" id="teamParticipante" name="teamParticipante" [(ngModel)]="teamParticipante" required>
  </div>
  <div>
    <label for="teamParticipante">Nombre participante:</label>
    <input type="text" id="teamParticipante" name="teamParticipante" [(ngModel)]="teamParticipante" required>
    <label for="teamParticipante">Matricula:</label>
    <input type="text" id="teamParticipante" name="teamParticipante" [(ngModel)]="teamParticipante" required>
  </div>
  <div>
    <label for="teamParticipante">Nombre participante:</label>
    <input type="text" id="teamParticipante" name="teamParticipante" [(ngModel)]="teamParticipante" required>
    <label for="teamParticipante">Matricula:</label>
    <input type="text" id="teamParticipante" name="teamParticipante" [(ngModel)]="teamParticipante" required>
  </div>
  <div>
    <label for="teamParticipante">Nombre participante:</label>
    <input type="text" id="teamParticipante" name="teamParticipante" [(ngModel)]="teamParticipante" required>
    <label for="teamParticipante">Matricula:</label>
    <input type="text" id="teamParticipante" name="teamParticipante" [(ngModel)]="teamParticipante" required>
  </div>
  <button type="submit">Crear</button>
</form> -->

