<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/logo.png" alt="Logo" style="height: 40px;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <img src="assets/logo.png" alt="Logo" style="height: 40px;">
      </ion-title>
    </ion-toolbar>
  </ion-header>

 
  <ion-card >
    <img src="assets/voleibol.jpg" />
    <ion-card-header>
      <ion-card-title>Proxys vs Titanes</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img src="assets/baloncesto.jpg" />
    <ion-card-header>
      <ion-card-title>Copa Piston</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img src="assets/futbol.jpg" />
    <ion-card-header>
      <ion-card-title>FierroCopa</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>