<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/logo.png" alt="Logo" style="height: 40px;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card >
    <img src="assets/voleibol.jpg" />
    <ion-card-header>
      <ion-card-title>Proxys vs Titanes</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img src="assets/baloncesto.jpg" />
    <ion-card-header>
      <ion-card-title>Copa Piston</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img src="assets/futbol.jpg" />
    <ion-card-header>
      <ion-card-title>FierroCopa</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>